@charset "utf-8";

html {
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    line-height: 100px;
    background-color: #f5f5f5;
}

tr.datarow {
    cursor: pointer;
}

#banner-container img {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}